body
{
	background-image:url('../img/hp.jpg');
	background-size:100%;
	background-color:#030013;
}

.index-form-signin {
	max-width: 330px;
	padding: 15px;
	margin: auto;
	background-color:whitesmoke;
}

.index-container {
	margin: auto;
	height: 245px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
